{% extends 'web_project_app/base.html' %} {% load static %} {% block content %}

<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-8 px-5 my-5">
            <h1 class="mb-md-5 mb-4">Our Products</h1>
            <p class="p-gray mb-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam in nobis, dolorum molestiae debitis aliquid consequuntur inventore quasi ab quibusdam.</p>
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container-fluid text-center border-header">
    <div class="row">
        <div class="col-md-2 mx-auto">
            <p>Categories</p>
        </div>
        <div class="col-md-8 row mx-auto mt-0 row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">
            {% for product in products %}
                <div class="col">
                    <div class="card h-100">
                        <img src="{{ product.image.url }}" class="img-fluid card-img-top" alt="Product image">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.title }}</h5>
                        </div>
                        <div class="card-footer row mx-0">
                            <p class="col m-auto fw-semibold">$ {{ product.price }} USD</p>
                            <div class="col">
                                <a class="btn btn-outline-success" href="{% url 'shopping_cart_app:add' product.id %}">
                                    <span class="me-2">Add</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart2 col" viewBox="0 1.5 16 16">
                                        <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"></path>
                                    </svg>
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        
    </div>
</div>


{% endblock %}