{% extends 'web_project_app/base.html' %} {% load static %} {% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-8 px-5 my-5">
            <h1 class="fw-bold fs-2">Find Out More <span class="text-primary">About Us</span></h1>
            <p class="p-gray mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos rem, ratione, enim exercitationem inventore facere
            accusantium cupiditate commodi beatae blanditiis iste architecto delectus praesentium ducimus.</p>
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container new_container">
    <div class="row row-cols-1 row-cols-xl-2">
        <div class="col">
            <img class="img-fluid" src="../../static/web_project_app/img/about.jpg" alt="">
        </div>
        <div class="col">
            <h2 class="fs-3 fw-semibold my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, eaque quidem aliquam harum ea.</h2>
            <div class="mx-auto">
                <ul class="">
                    <li class="list-group-item my-2">Lorem ipsum dolor.</li>
                    <li class="list-group-item my-2">Lorem ipsum dolor.</li>
                    <li class="list-group-item my-2">Lorem ipsum dolor.</li>
                    <li class="list-group-item my-2">Lorem ipsum dolor.</li>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}