{% extends 'web_project_app/base.html' %} {% load static %} {% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-8 px-5 my-5">
            <h1 class="fw-bold fs-2">Find Out More <span class="text-primary">About Us</span></h1>
            <p class="p-gray mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos rem, ratione, enim exercitationem inventore facere
            accusantium cupiditate commodi beatae blanditiis iste architecto delectus praesentium ducimus.</p>
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container new_container">
    <div class="row row-cols-1 row-cols-xl-2">
        <div class="col px-5">
            <img class="img-fluid shadow rounded" src="../../static/web_project_app/img/about.jpg" alt="">
        </div>
        <div class="col px-5">
            <h2 class="fs-3 fw-semibold my-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, eaque quidem aliquam harum ea.</h2>
            <div class="mx-auto">
                <ul class="fs-5 text-primary">
                    <li class="my-2"><p class="text-dark">My first item list.</p></li>
                    <li class="my-2"><p class="text-dark">My second item.</p></li>
                    <li class="my-2"><p class="text-dark">My third item about x.</p></li>
                    <li class="my-2"><p class="text-dark">M class="text-dark"y fourth item about x.</p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container new_container text-center my-5">
    <div class="row">
        <div class="col"></div>
        <div class="col-md-8 px-5 my-5">
            <h1 class="fw-bold fs-2">Our Management Team</h1>
            <p class="p-gray mt-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos rem, ratione, enim exercitationem inventore facere
            accusantium cupiditate commodi beatae blanditiis iste architecto delectus praesentium ducimus.</p>
        </div>
        <div class="col"></div>
    </div>
</div>
<div class="container new_container border-header">
    <div class="row text-center">
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Manuella Nevoresky</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-2.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Samuel Hardy</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-1.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Tom Sunderland</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            </div>
        </div>
        <div class="col-xl-3 col-sm-6 mb-5">
            <div class="bg-white rounded shadow py-5 px-4"><img src="https://bootstrapious.com/i/snippets/sn-team/teacher-7.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">John Tarly</h5><span class="small text-uppercase text-muted">CEO - Founder</span>
            </div>
        </div>
    </div>
</div>


{% endblock %}