{% extends 'web_project_app/base.html' %} {% load static %} {% block content %}
<section id="hero" class="d-flex align-items-center">
  <div class="container">
    <section class="d-flex align-items-center">
      <div class="container">
        <h1 class="fw-bold">Welcome to <span class="text-primary">Web Project</span></h1>
        <p class="fs-5 mt-3">Lorem ipsum, dolor sit adipisicing elit. Nisi saepe rem illo quisquam provident.</p>
        <div class="mt-4">
          <button class="btn btn-primary">My Home Button</button>
        </div>
      </div>
    </section>
  </div>
</section>
<div class="container text-center my-5">    
  <h3 class="mb-4 fw-semibold">What We Do</h3>
  <div class="row">
    <div class="col-sm-4">
      <div class="card border-light m-4">
        <div class="card-body shadow rounded">
          <h5 class="card-title fw-semibold">Special title treatment</h5>
          <p class="card-text my-4 p-gray">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4"> 
      <div class="card border-light m-4">
        <div class="card-body shadow rounded">
          <h5 class="card-title fw-semibold">Special title treatment</h5>
          <p class="card-text my-4 p-gray">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div> 
    </div>
    <div class="col-sm-4">
      <div class="card border-light m-4">
        <div class="card-body shadow rounded">
          <h5 class="card-title fw-semibold">Special title treatment</h5>
          <p class="card-text my-4 p-gray">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div
{% endblock %}