{% extends 'web_project_app/base.html' %} {% load static %} {% block content %}

<!-- Heading -->
<section class="page-section clearfix">
  <div class="container">
    <div class="intro">
      <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'web_project_app/img/principal.jpg' %}" alt="" />
      <div class="intro-text left-0 text-center bg-faded p-5 rounded">
        <h2 class="section-heading mb-4">
          <span class="section-heading-upper">Punctuality</span>
          <span class="section-heading-lower">The best stock</span>
        </h2>
        <p class="mb-3">In your inbox, you will receive 48h with normal delivery, less 24h with express delivery.</p>
      </div>
    </div>
  </div>
</section>

<!-- Message -->
<section class="page-section cta">
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <div class="cta-inner text-center rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">Totally compromised</span>
            <span class="section-heading-lower">Warranty</span>
          </h2>
          <p class="mb-0">
            More than 10 years of experience in the industry, we have the knowledge and skills needed to carry out any of our products.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}